body{
    align-content: center;
	background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v748-toon-106_1_1.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a1cc5c34ed3a65c0b481077012537848");
	font-family: 'Cinzel', serif;
	color:dodgerblue;


}
.jumbotron{
	background: dodgerblue;
;
}
.rectangle{
	  border-radius: 35px;

	height: 600px;
  width: 1100px;
  background-color: dodgerblue;
	margin-top: 5em;
  margin-bottom: 3em
}

.xyz{
	color:dodgerblue;

}