<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Budget Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "stylesheet" type = "text/css" href = "{% static "styles.css" %}" />
<link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:dodgerblue">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url "Home" %}" style="color:dodgerblue">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" style="color:dodgerblue">Product</a>
      <a class="nav-item nav-link" href="{% url "SignUp" %}" style="color:dodgerblue">SignUp</a>
    <a class="nav-item nav-link" href="{% url "AllPosts" %}" tabindex="-1" aria-disabled="true" style="color:dodgerblue">Posts</a>
        <a class="nav-item nav-link" href="{% url "cashflow_management" %}" tabindex="-1" aria-disabled="true" style="color:dodgerblue">Cashflow</a>
              <a class="nav-item nav-link" href="{% url "Login" %}" tabindex="-1" aria-disabled="true" style="color:dodgerblue">Login</a>
    </div>
  </div>
</nav>
    <h1 style="font-size: 250%;;margin-top: 1em;margin-left:2em"><strong>Walbook</strong></h1>
{%block body_block%}
    {%endblock%}


  </body>
</html>
