{% extends 'budget_tracker/base.html' %}
{% block title %}Home{% endblock %}

{% block body_block %}
<div class="container">

    <h2 style="font-size: 200%;margin-top: 3em;">"It isn't what you earn but how you spend that fixes your class."</h2>
<p style="font-size: 150%; margin-top: 1.5em;margin-bottom:15em ">Walbook helps you track your expenditure and understand your spending patterns making it easier to cut down useless expenses.</p>
<div class="rectangle">
	<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="color: white;margin-top:2em;margin-bottom:2em;margin-left:2em;margin-right:2em;font-size: 350%">Walbook</h1>
    </div>
    <div class="col">
     <p style="color: white;margin-top:3em;margin-left:2em;margin-right:2em;font-size: 150%">You got it right. You know where you spend the most. But now what? </p>
     <p style="color: white;margin-bottom:2em;margin-left:2em;margin-right:2em;font-size: 150%">We can help you set a budget and spend only under a daily limit.</p>
    </div>
  </div>
</div>


</div>

</div>

{% endblock %}