<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h1>Motivation</h1>
<p>As college students, it’s new for us to manage our monthly budgets by ourselves. This is the case for a majority of people which includes both students as well as people with fixed incomes and businessmen. In today’s world, it is not possible to keep track of all your receipts. With digitization of paying bills and lesser use of cash, an online budget tracker can help people track down the months when they overspend and under-spend. Through our project, we want to make people where they spend the most and if it is more than normal expenditure.
</p>
</body>
</html>