{% extends 'budget_tracker/base.html' %}
{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}

{% block body_block %}
  <div class="container" style="margin-left: 28em">
        <form method='post' action = '{% url "SignUp" %}'>

        {% csrf_token %}
        {{ form1|crispy}}
            <p><small>Already have an account? Login to continue</small></p>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-primary" onclick="window.location.href = '{% url 'Login' %}';">Login</button>
        </form>

    </div>


{% endblock %}